<script>window.__SERVER_DATA__ = {{{serverData}}}</script>

<section class="container">
	<h2 class="booking-title">Booking</h2>
	<h3>{{game.name}}</h3>
	<div class="booking-list-container">
		<ul class="booking-list"></ul>
	</div>
</section>
<link href="/bundles/book.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/bundles/book.js"></script>