
<article class="contact container">
	<h2>Contact Us</h2>
	<span>Have any comments, questions or concerns? Interested in booking us for your next birthday party or corporate event? We'd love to hear from you! 
	</span>

	<form class="contact-form"  action="/submit-contact" method="POST">
		<div class="row">
			<div class="name-container four columns">
				<label for="name" class="four columns">Name</label>
				<input type="text" id="name" name="name" />
			</div>
			<div class="email-container eight columns">
				<label for="email">Email</label>
				<input type="text" id="email" name="email" />
			</div>
		</div>
		<label for="content">What's on your mind</label>
		<textarea name="content" id="content" class="content"></textarea>

		<button type="submit" class="submit-contact button button-primary">Send</button>
	</form>
</article>
<article class="contact container">
	<h2>Start your own franchise</h2>
	<p>Interested in joining one of the fastest growing sectors in the world? Join the Grestest Escape Room team and open your own room in your city! Download and fill out the terms sheet below and mail it back to use at the provided address and we'll send you our franchise information packet. Join the The Greatest Escape Room family today!
	</p>
	<a download="escape-nda.pdf" href="/bundles/escape-nda.pdf"><button class="button button-primary">Download</button></a>
</article>
<link rel="stylesheet" type="text/css" href="/bundles/contact.css" />
<script type="text/javascript" src="/bundles/contact.js"></script>
