<link rel="stylesheet" type="text/css" href="/bundles/home.css" />
<div class="u-full-width hero-image">
	<a href="/book" class="button button-primary">Book Now</a> 
</div>
<section class="container home-container">
	<h2>Check out our rooms</h2>
	<div class="room-container ">
		<div class="row">
			<div class="seven columns room-content">
				<h3>The Labrynth</h3>
				<p>Navigate through the labrynth, solving riddles and trying to find the center. But beware! The centaurs are out to stop you. Can you solve the mystery of this grassy maze? You'll have 60 minutes and with the help of up to 6 players, find the answers to the riddles and escape from the labrynth.</p>
			<div class="book-button-container">
				<a href="/book?game=1" class="button button-primary">Book Labrynth</a>
			</div>
			</div>
			<div class="five columns">
				<img src="/bundles/labrynth.jpg" alt="labrynth room" />
			</div>
		</div>
	</div>
	<div class="room-container row">
		<div class="seven columns room-content">
			<h3>Psycho</h3>
			<p>You wake up in a room filled with torture devices and.. is that dried blood? Luckily you look around and find 5 of your closest friends, so you know you're not alone! You'll have 60 minutes to figure out an escape plan before the psycho who locked you in here find you. Can you solve the puzzles and escape?</p>
		<div class="book-button-container">
			<a href="/book?game=2" class="button button-primary">Book Psycho</a>
		</div>
		</div>
		<div class="five columns">
			<img src="/bundles/psycho.jpg" alt="psycho room" />
		</div>
	</div>
	
	<div class="room-container row">
		<div class="seven columns room-content">
			<h3>Sherlock</h3>
			<p>Professor Moriarty has escaped Scottland Yard! Inspector Lestrade has called to enlist your help. Since Holmes and Watson are nowhere to be found, you are London's only hope! Follow the clues left from the Professors escape and track him down before it's too late! Can you find the missing Professor and figure out where Holmes and Watson have gone? You'll have 60 minutes and the help of 5 of your closest friends to solve this caper.</p>
		<div class="book-button-container">
			<a href="/book?game=3" class="button button-primary">Book Sherlock</a>
		</div>
		</div>
		<div class="five columns">
			<img src="/bundles/sherlock.jpg" alt="sherlock room" />
		</div>
	</div>
</section>
<script type="text/javascript" src="/bundles/home.js"></script>
