<!DOCTYPE html>
<html>
<head>
	<title>Greatest Escape Room</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="bundles/run-icon.ico" type="image/x-icon">
	<link rel="stylesheet" href="lib/Skeleton-2.0.4/normalize.css" type="text/css" />
	<link rel="stylesheet" href="lib/Skeleton-2.0.4/skeleton.css" type="text/css" />
	<link rel="stylesheet" href="bundles/main.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<header class="container global-header">
		<div class="u-full-width">
			<a href="/">
				<div class="logo-container  seven columns">
					<h1>Greatest Escape Room</h1>
				</div>
			</a>
			<nav class="four columns">
				<ul class="nav-list">
					<li class="nav-item"><a href="/">Home</a></li>
					<li class="nav-item"><a href="/contact">Contact</a></li>
					<li class="nav-item"><a href="/book">Book</a></li>
					<li class="nav-item nav-item__profile"><a href="/profile">Profile</a></li>
				</ul>
			</nav>
			<div class="profile-menu one column">
				<a href="/profile">
					<img class="user-icon" src="/bundles/user.svg" alt="user logo">
				</a>
			</div>
		</div>
	</header>
	{{{body}}}
	<footer class="container u-max-full-width u-full-width global-footer">
		<div class="icon-container row">
			<a href="http://twitter.com">
				<img class="media-icon" src="/bundles/twitter.svg" alt="twitter icon">
			</a>
			<a href="http://facebook.com">
				<img class="media-icon" src="/bundles/facebook.svg" alt="facebook icon">
			</a>
			<a href="http://instagram.com">
				<img class="media-icon" src="/bundles/instagram.svg" alt="instagram icon">
			</a>
		</div>
		<div class="container">
			<p>2017 - THE GREATEST ESCAPE ROOM - SITE BY RYAN WHOLEY</pn>
			<p>This is a school project. All images were taken from google. Please don't be mad. Thanks.</p>
		</div>
	</footer>
	<script src="/bundles/main.js" type="text/javascript"></script>
</body>
</html>
