<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="lib/Skeleton-2.0.4/normalize.css" type="text/css" />
	<link rel="stylesheet" href="lib/Skeleton-2.0.4/skeleton.css" type="text/css" />
	<link rel="stylesheet" href="bundles/main.css" type="text/css" />
</head>
<body>
	<header class="container u-max-full-width u-full-width global-header">
		<div class="u-full-width">
			<h1 class="seven columns">Greatest Escape Room</h1>
			<nav class="four columns">
				<ul class="nav-list">
					<li class="nav-item"><a href="/">Home</a></li>
					<li class="nav-item"><a href="/contact">Contact</a></li>
					<li class="nav-item"><a href="/book">Book</a></li>
					<li class="nav-item nav-item__profile"><a href="/profile">Profile</a></li>
				</ul>
			</nav>
			<div class="profile-menu one column">
				<a href="/profile">
					<img class="user-icon" src="/bundles/user.svg" alt="user logo">
				</a>
			</div>
		</div>
	</header>
	{{{body}}}
	<footer class="container u-max-full-width u-full-width global-footer">
		<div class="icon-container row">
			<img class="media-icon" src="/bundles/twitter.svg" alt="twitter icon">
			<img class="media-icon" src="/bundles/facebook.svg" alt="facebook icon">
			<img class="media-icon" src="/bundles/instagram.svg" alt="instagram icon">
		</div>
		<div class="container">
			<p>COPYRIGHT © 2018 THE GREATEST ESCAPE ROOM ® - SITE BY RYAN WHOLEY</p>
		</div>
	</footer>
	<script src="/bundles/main.js" type="text/javascript"></script>
</body>
</html>