
<article class="container login-container"> 
	<div>
		<h2> Login</h2>
		<form class="login-form"  action="/login" method="POST">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" />
			<label for="password">Password</label>
			<input type="password" id="password" name="password" />
			<div class="button-container">
				<button type="submit" class="button button-primary">Login</button>
			</div>
		</form>
	</div>
</article>

<link rel="stylesheet" type="text/css" href="/bundles/login.css" />
<script type="text/javascript" src="/bundles/login.js"></script>
