<section class="container">
	<div class="row">
		<article class="profile-section five columns">
			<div class="profile-image-container">
				<img class="u-full-width" src="https://github.com/ryanwholey.png" />
				<p class="profile-image__username">{{user.username}}</p>
			</div>
			<a href="/logout"><button class="button u-full-width">Logout</button></a>
		</article>
		<article class="game-section six columns">
			<h3> Your Games </h3>
			<ul class="game-list u-full-width container">
				<p>No Games Played Yet</p>
			</ul>
		</article>
	</div>
</section>

<link rel="stylesheet" type="text/css" href="/bundles/profile.css" />
<script type="text/javascript" src="/bundles/profile.js"></script>