
<article style="text-align: center;"class="container">
	<h2>Purchase</h2>
	<p>Uh oh! The purchase flow is still under construction.</p>
	<p>Check back with us again soon!</p>
	<a href='/'><button class="button button-primary">Home</button></a>
</article>
