<article style="text-align: center;"class="container">
	<h2>Thanks!</h2>
	<p>We will get back to you shortly</p>
	<a href={{backUrl}}><button class="button button-primary">Back</button></a>
</article>