.hero-image {
	background: url('/bundles/room1.jpg');
	height: 400px;
    background-size: 100%;
    background-position: 60% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-container {
	padding-top: 2rem ;
}

.room-container {
	padding-bottom: 3rem;
}

.room-container img {
	max-width:100%;
	max-height:100%;
	display: none;
}

/* Larger than tablet */
@media (min-width: 750px) {
	.room-container img {
		display: inline;
	}
}


.book-button-container {
	display: flex;
	justify-content: center;
}
